<div class="row">
  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-7">
            <b><strong>Title: </strong><%= @article.title %></b>
            <p><em>posted on <%= @article.created_at.strftime("%B %e, %Y at %l:%M %p") %></em></p>
          </div>
          <div class="col-md-5">
            <strong>By: </strong><%= link_to @article.user.username, user_articles_path(name: @article.user.username) %>  
            <% if @article.user.avatar.blank? == false %>
              <%= image_tag @article.user.avatar.url, size:30, class: "user-pic-nav" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body" style="height:27em; overflow-y:scroll;">
        <%= simple_format(@article.blog_entry.html_safe) %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Back to Articles', articles_path, class: "btn btn-success btn-sm" %>
        <% if current_user.username == @article.user.username %>
          <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-warning btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <strong>Comments:</strong>
      </div>
      <div class="panel-body" style="height:31em; overflow-y:scroll;">
        <ul>
          <div id="comments">
            <% @article.comments.reverse_each do |comment| %>
              <li>
                <% if comment.user.avatar.blank? == false %>
                  <%= image_tag comment.user.avatar.url, size:25, class: "user-pic-nav" %>
                <% end %>
                <%= time_ago_in_words(comment.created_at) %> ago <%= link_to comment.user.username, user_articles_path(name: comment.user.username) %> said: <br><%= simple_format(comment.comment_entry.html_safe) %>
                <% if current_user.username == comment.user.username %>
                  <%= link_to 'Delete', comment, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?'} %>
                <% end %>
              </li>
            <% end %>
          </div>
          <%= render 'comments/form', comment: @comment %>
        </ul>
      </div>
    </div>
  </div>
</div>
